/* dark theme */
.dark {
    background: rgb(23, 23, 23);
    width: 100%;
    color: white;
}
.navbar-dark{
    background: rgb(30, 30, 30);
    border: 1px solid rgb(50, 50, 50);
    color: white;
}
.posts-dark, .users-dark{
    border: 2px solid rgba(255, 255, 255, 0.2);
}
.body-dark{
    color: rgb(207, 207, 207);
}
.mode-dark{
   color: white;
}